
<div class="modal-header" id="modal-header-height">
  <h4 class="modal-title modal-font-weight-title pad-top-2">Add Contact</h4>

  <div class="margin-top-5">
          <ul class="navbar-nav flex-row">
                  <li class="nav-item">
                          <a class="close cursor" (click)="activeModal.dismiss('Cross click')">
                                  <p class="text-size-2">&times;</p>
                          </a>
                  </li>
          </ul>
  </div>
</div>
<div class="container">

  <div class="row">

    <div class="col-sm-10 offset-sm-1">

      <div class="modal-body">
        <form [formGroup]="form">
          <div class="form-group">

            <label>Contact Name</label>
            <input class="form-control" type="text" formControlName="name" placeholder="Enter your name"/>

            <label>Contact Email</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Enter your email">


            <label>Contact Description</label>
            <textarea formControlName="description" class="form-control" placeholder="Enter your description"> </textarea>
            <div *ngIf="!form.get('description').valid &&
            form.get('description').touched">
              <p>Description must be between 1 and 180 characters.</p>
          </div>

          <label for="age">Phone</label>
          <input  type="phone" formControlName="tell" class="form-control" placeholder="Enter your phone number">

          <label for="age">Age</label>
          <input  type="number" formControlName="age" class="form-control" placeholder="Enter your age">

          </div>

          <div class="flex-contianer">
            <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Close click')">Close</button>
            <button class="btn btn-success" (click)="onCreateContact()"  [disabled]="!form.valid">{{ editContact !== null ? 'Save contact' : 'Create contact' }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
